<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD165ijfC118VLD4pi5Bi9PXrOxfs41vZ4</string>
	<key>GCM_SENDER_ID</key>
	<string>299786423415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bupc.polanguifolktales</string>
	<key>PROJECT_ID</key>
	<string>polangui-folktales</string>
	<key>STORAGE_BUCKET</key>
	<string>polangui-folktales.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299786423415:ios:06517786828e9d9f318a72</string>
</dict>
</plist>